
/* This is the Style Sheet Element */
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

/* This is the Style Sheet for container class */
.container {
     background-color: #393e46;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

/* This is the Style Sheet for container in login-form class */
.login-form {
     height: 300px;
     width: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

/* This is the Style Sheet for login-form button */
.login-form button {
     border: none;
     background-color: blue;
     color: white;
     padding: 15px;
     border-radius: 10px;
     cursor: pointer;
}

/* This is the Style Sheet hover for login-form button*/
.login-form button:hover {
     background-color: black;
}